{% extends "layouts/base.html" %} 
{% load static %} 
{% block title %} Task7 Page {% endblock title %} 

{% block stylesheets %}
    <style>
        table {
            width: 20%;
            margin: 20px auto;
            font-size: 1em;
            font-family: Times New Roman;
            text-align: center;
        }

        table, th, td {
            border: 1px solid black;
        }

        th {
            background-color: blue;
            padding: 10px;
            font-weight: bold;
        }

        td {
            padding: 8px;
        }

        caption {
            font-size: 1.2em;
            margin: 10px;
            text-align: center;
            font-weight: bold;
        }
    </style>
{% endblock stylesheets %}

{% block content %} 

<table>
    <tr>
        <th>city</th>
        <th>Num of Stuednts</th>
    </tr>
    {% for city in cities %}
    <tr>
        <td>{{ city.city }}</td>
        <td>{{ city.student_count }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %} 
